[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "fileinstall"]
	path = fileinstall
	url = https://github.com/fmilano/fileinstall.git
